<p id="notice"><%= notice %></p>

<h1>Listing Categories</h1>

    <% @categories.each do |category| %>
      <div class='product-table'>
	      <div class='product'>
		      <%=link_to category do%>
		        <%=image_tag category.image_url, class: "radius-l1"%>
		      <%end%>
		      <h1><%= category.name %></h1>
	      </div>
      </div>
    <% end %>