
	<div id='navi' class='navigation'>
		<%= link_to products_path, id: 'home' do %>
			<i class="fa fa-shopping-basket"></i>
				Products
		<% end %>
		<%= link_to categories_path, id: 'home' do %>
			<i class="fa fa-tags"></i>
				Categories
		<% end %>
		<%= link_to producers_path, id: 'home' do %>
			<i class="fa fa-users"></i>
				Producers
		<% end %>
	</div>
